In [29]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
import pandas as pd
import numpy as np
import prince
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
import sys
sys.path.append('../data/')

In [75]:
from load_data import load_ucimlrepo

features, targets = load_ucimlrepo(ordinal=True)
print(features.head())
print(targets.head())
X, Y = load_ucimlrepo(ordinal=False)

   AAGE ACLSWKR  ADTINK  ADTOCC  AHGA AHSCOL AMARITL AMJIND AMJOCC ARACE  ...  \
0    73     3.0       0       0  12.0    2.0     6.0   14.0    6.0   4.0  ...
1    58     6.0       4      34  16.0    2.0     0.0    4.0    8.0   4.0  ...
2    18     3.0       0       0   0.0    1.0     4.0   14.0    6.0   1.0  ...
3     9     3.0       0       0  10.0    2.0     4.0   14.0    6.0   4.0  ...
4    10     3.0       0       0  10.0    2.0     4.0   14.0    6.0   4.0  ...

  PEFNTVTY PEMNTVTY PENATVTY PRCITSHP SEOTR  VETQVA  VETYN  WKSWORK AHRSPAY  \
0     39.0     39.0     39.0      4.0     0     1.0      2        0       0
1     39.0     39.0     39.0      4.0     0     1.0      2       52       0
2     40.0     40.0     40.0      0.0     0     1.0      2        0       0
3     39.0     39.0     39.0      4.0     0     1.0      0        0       0
4     39.0     39.0     39.0      4.0     0     1.0      0        0       0

  year
0    1
1    0
2    1
3    0
4    0

[5 rows x 41 columns]
   income
0  -50000
1  -50000
2  -50000
3  -50000
4  -50000

In [82]:
features = features.fillna(method='ffill',axis=1)
# X = X.fillna(method='bfill',axis=1)
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features, targets, test_size=0.3, random_state=17)
print(Xtrain.isnull().values.any())

C:\Users\nicor\AppData\Local\Temp\ipykernel_45488\2985701398.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  features = features.fillna(method='ffill',axis=1)
C:\Users\nicor\AppData\Local\Temp\ipykernel_45488\2985701398.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  features = features.fillna(method='ffill',axis=1)

False

In [32]:
prepro = features.copy()
print(targets['income'].nunique())
print(targets[targets['income'] == ' 50000+.'].count())
print(features.columns)
# for col in features.columns:
    # print(col,'\t',features[col].dttargetspe)

enc1 = OrdinalEncoder()
test = enc1.fit_transform(features[2:])
test

2
income    12382
dtype: int64
Index(['AAGE', 'ACLSWKR', 'ADTINK', 'ADTOCC', 'AHGA', 'AHSCOL', 'AMARITL',
       'AMJIND', 'AMJOCC', 'ARACE', 'AREORGN', 'ASEX', 'AUNMEM', 'AUNTYPE',
       'AWKSTAT', 'CAPGAIN', 'GAPLOSS', 'DIVVAL', 'FILESTAT', 'GRINREG',
       'GRINST', 'HHDFMX', 'HHDREL', 'MARSUPWRT', 'MIGMTR1', 'MIGMTR3',
       'MIGMTR4', 'MIGSAME', 'MIGSUN', 'NOEMP', 'PARENT', 'PEFNTVTY',
       'PEMNTVTY', 'PENATVTY', 'PRCITSHP', 'SEOTR', 'VETQVA', 'VETYN',
       'WKSWORK', 'AHRSPAY', 'year'],
      dtype='object')

array([[18.,  3.,  0., ...,  0.,  0.,  1.],
       [ 9.,  3.,  0., ...,  0.,  0.,  0.],
       [10.,  3.,  0., ...,  0.,  0.,  0.],
       ...,
       [47.,  3.,  0., ..., 52.,  0.,  1.],
       [16.,  3.,  0., ...,  0.,  0.,  1.],
       [32.,  4., 42., ..., 52.,  0.,  0.]])

In [33]:
# print(targets['income'].dttargetspe)
enc = OrdinalEncoder()
print(prepro['ACLSWKR'])
prepro.loc[:,'ACLSWKR'] = enc.fit_transform(prepro[['ACLSWKR']])
print(prepro['ACLSWKR'])

0         3.0
1         6.0
2         3.0
3         3.0
4         3.0
         ...
199518    3.0
199519    5.0
199520    3.0
199521    3.0
199522    4.0
Name: ACLSWKR, Length: 199523, dtype: object
0         3.0
1         6.0
2         3.0
3         3.0
4         3.0
         ...
199518    3.0
199519    5.0
199520    3.0
199521    3.0
199522    4.0
Name: ACLSWKR, Length: 199523, dtype: object

In [35]:
famd = prince.FAMD(n_components=20, n_iter=20,random_state=17)
famd = famd.fit(features)
f2 = prince.FAMD(n_components=20,n_iter=20,random_state=17)
f2 = f2.fit(X)

In [63]:
from sklearn.ensemble import HistGradientBoostingClassifier, AdaBoostClassifier
from sklearn.metrics import f1_score, accuracy_score
iter = 200
model = HistGradientBoostingClassifier(max_iter=iter,random_state=17)
model.fit(Xtrain, Ytrain)
Ypred = model.predict(Xtest)
acc = accuracy_score(Ytest, Ypred)
print("For iter count {}, accuracy is {}".format(iter,acc))

C:\Users\nicor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

For iter count 200, accuracy is 0.9571144561204203

In [90]:
print(Xtrain.shape)

(139666, 41)

In [93]:
from functools import partial

score = partial(f1_score,average='macro')
model = AdaBoostClassifier(estimator=HistGradientBoostingClassifier(max_iter=200),n_estimators=200,algorithm='SAMME')
model.fit(Xtrain, Ytrain)
Ypred = model.predict(Xtest)

C:\Users\nicor\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:

print(score(Ypred,Ytest))
model.score()

0.7701138892077367

In [112]:
from load_data import load_feature_names
df_names = load_feature_names('../data/census-income.names')

df = pd.read_csv('../data/census-income.data', names=df_names['feature'])
pd.set_option('display.max_columns',50)
df.head(1)

c:\Users\nicor\OneDrive\Documents\SJSU\CMPE255\group proj\CMPE255_group_4\Rios_work\../data\load_data.py:57: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_names = pd.read_csv(labels_path, skiprows=23, nrows=44,header=None,sep="\t+",names=["feature",'shortname'])

,| age,| class of worker,| industry code,| occupation code,| education,| wage per hour,| enrolled in edu inst last wk,| marital status,| major industry code,| major occupation code,| race,| hispanic Origin,| sex,| member of a labor union,| reason for unemployment,| full or part time employment stat,| capital gains,| capital losses,| divdends from stocks,| tax filer status,| region of previous residence,| state of previous residence,| detailed household and family stat,| detailed household summary in household,| instance weight,| migration code-change in msa,| migration code-change in reg,| migration code-move within reg,| live in this house 1 year ago,| migration prev res in sunbelt,| num persons worked for employer,| family members under 18,| total person earnings,| country of birth father,| country of birth mother,| country of birth self,| citizenship,| total person income,| own business or self employed,| taxable income amount,| fill inc questionnaire for veteran's admin,| veterans benefits
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Other Rel 18+ ever marr not in subfamily,Other relative of householder,1700.09,?,?,?,Not in universe under 1 year old,?,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.

In [113]:
X.head(1)

,AAGE,ACLSWKR,ADTINK,ADTOCC,AHGA,AHSCOL,AMARITL,AMJIND,AMJOCC,ARACE,AREORGN,ASEX,AUNMEM,AUNTYPE,AWKSTAT,CAPGAIN,GAPLOSS,DIVVAL,FILESTAT,GRINREG,GRINST,HHDFMX,HHDREL,MARSUPWRT,MIGMTR1,MIGMTR3,MIGMTR4,MIGSAME,MIGSUN,NOEMP,PARENT,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,AHRSPAY,year
0,73,Not in universe,0,0,High school graduate,Not in universe,Widowed,Not in universe or children,Not in universe,White,All other,Female,Not in universe,Not in universe,Not in labor force,0,0,0,Nonfiler,Not in universe,Not in universe,Other Rel 18+ ever marr not in subfamily,Other relative of householder,1700.09,1700.09,1700.09,1700.09,Not in universe under 1 year old,Not in universe under 1 year old,0,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,0,95