In [17]:
import pandas as pd
import numpy as np
import mca
from sklearn.preprocessing import OrdinalEncoder
import sys
sys.path.append('../data/')

In [15]:
from load_data import load_ucimlrepo
data = load_ucimlrepo()

X = data.data.features
Y = data.data.targets

In [31]:
print(Y['income'].unique())
print(Y[Y['income'] == ' 50000+.'].count())

['-50000' ' 50000+.']
income    12382
dtype: int64

In [33]:
ordenc = OrdinalEncoder()
print(ordenc.fit(Y))

ordenc.categories_

OrdinalEncoder()

[array([' 50000+.', '-50000'], dtype=object)]

In [3]:
# def parsefile(filename, dtype):
#     with open(filename, 'r') as file:
#         data = np.loadtxt(file,dtype=dtype)

#     return data

# def parse_args():
#     parser = argparse.ArgumentParser()


def parse(filename):
    data = pd.read_csv(filename,sep=",",header=None,)
    return data

df_names = pd.read_csv('../data/census-income.names', skiprows=23, nrows=44,header=None,sep="\t",names=["feature",'code1','code2','code3','code4','code5','code6'])
names = df_names['feature'].str.split("\| ", expand=True).loc[:,1]
df = pd.read_csv('../data/census-income.data',delimiter=",", header=None, names=names)

<>:16: SyntaxWarning: invalid escape sequence '\|'
<>:16: SyntaxWarning: invalid escape sequence '\|'
C:\Users\nicor\AppData\Local\Temp\ipykernel_30036\3970114160.py:16: SyntaxWarning: invalid escape sequence '\|'
  names = df_names['feature'].str.split("\| ", expand=True).loc[:,1]

In [4]:
test = parse('../data/census-income.test')
train = parse('../data/census-income.data')
df.head()

,age,class of worker,industry code,occupation code,adjusted gross income,education,wage per hour,enrolled in edu inst last wk,marital status,major industry code,...,total person earnings,country of birth father,country of birth mother,country of birth self,citizenship,total person income,own business or self employed,taxable income amount,fill inc questionnaire for veteran's admin,veterans benefits
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.,NaN,NaN
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.,NaN,NaN
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.,NaN,NaN
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.,NaN,NaN

In [9]:
le = LabelEncoder()
df['class of worker'] = le.fit_transform(df['class of worker'])
df['class of worker']
# print(test.head())

0         3
1         6
2         3
3         3
4         3
         ..
199518    3
199519    5
199520    3
199521    3
199522    4
Name: class of worker, Length: 199523, dtype: int64